{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Good Boy</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <p class="top-menu">{{ user.name }}<small>&nbsp;<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a></p>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon-plus"></span>添加</a>
        {% else %}
        <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><a href="{% url 'blog.views.post_list' %}">My Blog</a></h1>

    </div>


    <div class="content">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>

        </div>

    </div>


    <!--xadmin -->
    <div id="meta-2" class="widget widget_meta">
        <h3>功能</h3>
        <ul>
            {% if user.is_superuser %}
            <li><a href="/xadmin">管理站点</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'django.contrib.auth.views.logout' %}">登出</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'django.contrib.auth.views.login' %}">登录</a>
            </li>
            {% endif %}
            <li><a href="#">文章<abbr title="RSS">RSS</abbr></a></li>
        </ul>
    </div>


</body>
</html>